@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

body {
  min-height: 100vh;
  display: flex;
  background-color: #ececec;
  justify-content: center;
  font-family: 'Spartan', sans-serif;
}

header {
  width: 100vw;
  height: 120px;
  background-color: #5CA5A5;
}

.card {
  display: flex;
  background-color: aliceblue;
  width: 90%;
  margin: 10px auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.card:hover {
  border-left: 4px solid #5CA5A5;
}

.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

img {
  height: 88px;
  width: 88px;
  border: 1px solid blanchedalmond;
  border-radius: 40px;
}

#detalhes {
  margin-left: 24px;
  width: 100%;
}

.label {
  display: flex;
  font-size: 12px;
  margin-top: 20px;
}

.label span {
  padding: 5px;
  font-weight: bold;
  color: #5CA5A5;
}

.label .new {
  margin-left: 12px;
  background-color: #5CA5A5;
  border-radius: 10px;
  padding: 2px 4px;
  color: white;
  font-size: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#skills {
  display: flex;
}

.descricao-job{
  display: inline-block;
  margin: 10px 3px;
  color: #2B3939;
  font-weight: bold;
}

#stacks {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.stack {
  display: inline-block;
  margin-right: 16px;
  padding: 6px;
  font-size: 11px;
  background-color: #ececec;
  

  color: #5CA5A5;
  font-weight: bold;
}

.stack:hover {
  background-color: #5CA5A5;
  color: white;
}

#info {
  display: flex;
  width: 236px;
  justify-content: space-between;
  color: #7C8F8F;
}

#info span {
  font-size: 13px;
  margin-bottom: 20px;
}

